{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">

<div class='top'>

    <div class='rectungel'>logo</div>
    <div class='rectungel'>  about  </div>
    <div id='empty'>      </div>
    <div class='search'>  search bar  </div>
    <div id='empty'>      </div>
    <div class='rectungel'>  page2  </div>
    <div class='contry'>  {{country}}  </div>
    
</div >

<div class='posting'>

<p class='greating'>welcome to the public chat {{user.username}}</p>
<a  href='/add' class='add_question_button'> add question</a>

</div>
<div class='profile_home'>
    <img class="image" src="{{ user.profile_pic.url }}" alt="Profile Image">
</div>

<h1 >the available questions</h1>

<div class="container">
    <div class="users">

    {% for user in users %}
        <div class='username'>
        <div class='pfp'>
        </div>
        {{ user.username }}
        </div>
    {% endfor %}

    </div>

    <div class="question">

    {% if question_list %}
        {% for question in question_list %}

            {% if question.image %}
            <q>
                <div>prfile pic   {{question.user}}</div>
                <img class="image" src="{{ question.image.url }}" alt="Question 
                Image">

            {% else %}

                <q> 
                    <div>prfile pic   {{user.username}}</div>
                    <img class="image"  src="{% static 'home/images/background.png' %}" alt="No Image Available">

            {% endif %}
                <a href="/home/{{ question.id }}/" class='question_text'> {{ question.question_text }}
                </a></q></q>
       {% endfor %}
    {% else %}
        <p>No questions are available.</p>
    {% endif %}
        
    </div>
    <div class="ads"> ads here</div>
</div>

