{%load static%}

<link rel="stylesheet" href="{% static 'account/style.css' %}">
<head>
    <title>Register</title>
</head>

<body>
    <h2>Register</h2>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
    </form>
        {% if form.errors %}
        <div class="errors">
            <h3>There were errors in your form:</h3>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    {% endif %}
</body>

</html>
